/EEL_task_3/.idea

/EEL_task_3/build
/EEL_task_3/target
/EEL_task_3/.gradle
/EEL_task_3/gradle
/EEL_task_3/EEL_task_3.iml
/EEL_task_3/gradlew
/EEL_task_3/gradlew.bat
/EEL_task_3/.PVS-Studio
/EEL_task_3/src/main/resources/keys
