/Task3/EEL_task_3/.idea
/Task2/.idea
/Task3/EEL_task_3/build
/Task3/EEL_task_3/target
/Task3/EEL_task_3/.gradle
/Task3/EEL_task_3/gradle
/Task3/EEL_task_3/EEL_task_3.iml
/Task3/EEL_task_3/gradlew
/Task3/EEL_task_3/gradlew.bat
