<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New certificate</title>
</head>
<body>

<form th:method="POST" th:action="@{/certificate/new}" th:object="${certificate}">
  <br/>
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <br/>
  <label for="description">Enter description: </label>
  <input type="text" th:field="*{description}" id="description"/>
  <br/>
  <label for="price">Enter price: </label>
  <input type="text" th:field="*{price}" id="price"/>
  <br/>
  <label for="duration">Enter duration: </label>
  <input type="text" th:field="*{duration}" id="duration"/>


  <br/>
  <input type="submit" value="Create!"/>
</form>

</body>
</html>